/***Paleta de colores***/

/*Letras*/
.ctext-a {
    color: rgb(255, 145, 077, 1);
}
.ctext-b {
    color: rgb(255, 115, 028, 1);
}
.ctext-c {
    color: rgb(222, 086, 002, 0.87);
}
.ctext-d {
    color: rgb(000, 142, 145, 0.57);
}
.ctext-e {
    color: rgb(002, 216, 222, 0.87);
}

/***Backgrounds***/

.cbg-a {
    background-color: rgb(255, 145, 077, 1);
}
.cbg-b {
    background-color: rgb(255, 115, 028, 1);
}
.cbg-b:hover {
    background-color: rgb(255, 115, 028, 1);
}
.cbg-c {
    background-color: rgb(222, 086, 002, 0.87);
}
.cbg-d {
    background-color: rgb(000, 142, 145, 0.57);
}
.cbg-e {
    background-color: rgb(002, 216, 222, 0.87);    
}
.cbg-f {
    background-color: rgba(255, 255, 255, 0.87);    
}

/*Boc*/

.containerShadowBox{
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}