/*Aquí empieza la maquetación de los distintos foros*/

.panelForo
{
	background-color: #FF914D;
	border-color: #008E91;
	border-style: solid;
	display: auto;
	float: left;
	height: 125px;
	margin-bottom: 65px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 80px;
	overflow: hidden;
	width: calc(75%);
}

.ultimoMensajeForo
{
	font-family: Arial, sans-serif;
	margin-top: 15px;
	text-align: center;
}