nav {
    background-color: #FF731C;
    border-bottom: 3px solid #FF731C;
    height: 10%; 
    position: fixed;
    top: 0;
    transition-duration: 0.75s;
    transition-property: top;
    width: 100%;
    z-index: 1;
}

/* Modificado para hacer el logo más pequeño en dispositivos pequeños */
#logoNav {
    background-color: none;
    border-radius: 50%;
    float: left;
    height: 100%;
    margin-left: 10px; /* Modificado para hacerlo más responsivo */
    margin-top: 0px;
    width: autovw; /* Modificado para hacerlo más responsivo */
}

/* NUEVO1  ajuste logo a nav */
#logo-imagen{
  float: left;
  height: 90px;
  margin-left: 10px;
  margin-top: 0px;
  width: 90px; 
}


/* Esto esta igual... */
#menu
{
	float: right;
	list-style-type: none;
	margin-right: 80px;
	overflow: hidden;
	width: auto;
}

.elementoMenu
{
	float:left;
	margin: 40px 40px;
	margin-top: 30px;
}

.elementoMenu>a
{
	color: black;
	font-family: Arial, sans-serif;
	font-size: 2.25rem;
	position: inherit;
	text-decoration: none;
	transition-duration: 0.5s;
	transition-property: color;

}

.elementoMenu>a:hover
{
	color: white;
}

/* Modificado para hacer el contenido responsive usando display: flex */
.contenedor {
    display: flex; /* Establece un contenedor flexible */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
}

/* Estilos para el botón de cerrar sesión */
.cerrar-sesion-btn {
    margin-top: 15px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px; 
    
}

.cerrar-sesion-btn:hover {
    background-color:  #008E91 ;  
}

/* NUEVO1 para logo log-out */
#cerrar-sesion-btn-img{
  width: 40px;
  height: 40px;
}