/*Esto es el reset original*/

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body
{
	z-index: -5;
}

.titulo
{
	color: #02D8DE;
	margin-bottom: -15px;
	margin-top: 150px;
	text-align: center;
}

/*Aquí comienza la sección del nav y menú*/

.encabezado
{
	
	height: 62px;
	width: 100%;
	background-color: #DE5602;
	border-style: none;
}

nav
{
	background-color: #FF731C;
	height: 125px;
	position: fixed;
	top: 0;
	transition-duration: 0.75s;
	transition-property: top;
	width: 100%;
	z-index: 1;
}

.logoNav
{
	background-color: none;
	border-radius: 50%;
	float: left;
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	width: 229px;

}

.menu
{
	float: right;
	list-style-type: none;
	margin-right: 80px;
	overflow: hidden;
	width: auto;
}

.elementoMenu
{
	float:left;
	margin: 40px 40px;
	margin-top: 30px;
}

.elementoMenu>a
{
	color: black;
	font-family: Arial, sans-serif;
	font-size: 2.25rem;
	position: inherit;
	text-decoration: none;
	transition-duration: 0.5s;
	transition-property: color;

}

.elementoMenu>a:hover
{
	color: white;
}