/*Aquí comienza la maquetación de la columna de datos personales*/

.fotoPersonal
{
	background-color: none;
	background-image: url("../Media/cara_generica.jpeg");
	border-radius: 50%;
	height: 100px;
	margin-left: 40px;
	margin-top: 200px;
	width: 100px;
}

.colDatosPersonales
{
	background-color: #008E91;
	border-style: none;
	float: left;
	height: 100%;
	text-align: justify;
	width: 100%;
}

.colDatosPersonales > p
{
	color: black;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	transition-duration: 0.5s;
	transition-property: color;
}

.colDatosPersonales >p:hover
{
	color: white;
}